.header {
  width: 100%;
  padding-block: 1rem 2rem;
  background: linear-gradient(
    180deg,
    #1e1e1e 32.83%,
    rgba(30, 30, 30, 0) 86.45%
  );
  .logo {
    margin: 0 auto;
    width: 30%;
    max-width: 9rem;
    height: auto;
  }
}
