.control-wrapper {
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;
  p {
    font-size: 0.75rem;
    font-weight: 400;
  }
}

.result-wrapper {
  display: grid;
  align-items: flex-start;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 13rem;
}
