:host {
  width: 100%;
}

.gif-result {
  background-color: rgba(244, 246, 253, 0.25);
  visibility: hidden;
  img {
    width: 100%;
  }
  &.loading {
    animation: gifLoading 1s infinite alternate ease-in-out;
    visibility: unset;
    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }
  &.loaded {
    visibility: unset;
  }
}

@keyframes gifLoading {
  0% {
    background-color: rgba(244, 246, 253, 0.5);
  }
  100% {
    background-color: rgba(244, 246, 253, 0.25);
  }
}
