:host {
  width: 100%;
  position: relative;
}

.gif-result {
  background-color: rgba(244, 246, 253, 0.25);
  visibility: hidden;
  transition: all 0.3s ease-out;
  img {
    width: 100%;
  }
  &.loading {
    animation: gifLoading 1s infinite alternate ease-in-out;
    visibility: unset;
    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }
  &.loaded {
    visibility: unset;
  }
  &:active {
    transform: scale(0.9);
  }
}

.tooltip {
  background: #d662ff;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  color: #000;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 7.5rem;
  height: 2rem;
  opacity: 0;
  transform: translateY(2rem);
  transition: all 0.5s ease-out;
  &.clicked {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes gifLoading {
  0% {
    background-color: rgba(244, 246, 253, 0.5);
  }
  100% {
    background-color: rgba(244, 246, 253, 0.25);
  }
}
