<form class="search-form">
  <label for="search">Search for a GIF</label>
  <div class="input-wrapper">
    <input type="text" name="search" id="search" placeholder="Search" />
    <button type="submit">
      <span class="sr-only">Submit</span
      ><svg
        width="19"
        height="19"
        viewBox="0 0 19 19"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="8.06522"
          cy="8.13041"
          r="6.82609"
          stroke="#1E1E1E"
          stroke-width="2"
        />
        <path
          d="M16.6686 17.7878C17.0592 18.1784 17.6923 18.1784 18.0829 17.7878C18.4734 17.3973 18.4734 16.7642 18.0829 16.3736L16.6686 17.7878ZM12.3208 13.44L16.6686 17.7878L18.0829 16.3736L13.735 12.0258L12.3208 13.44Z"
          fill="#1E1E1E"
        />
      </svg>
    </button>
  </div>
</form>
